{% extends "::base.html.twig" %}

{% block title %}AdminBundle:Category:add{% endblock %}

{% block body %}
    <div class="container">

        <h1>Add a category</h1>

        {{ form(form) }}
    </div>
{% endblock %}
