{% extends "::base.html.twig" %}

{% block title %}AdminBundle:Item:add{% endblock %}

{% block body %}
<div class="container">
    <h1>Welcome to the Item:add page</h1>

        <h1>Ajouter un article</h1>

        {{ form(form) }}
</div>
{% endblock %}
